@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.hero {
position: relative;
min-height: 100vh;
background-image: url('/ankofarm_coming_soon.png');
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
max-height: 100vh;
}

hero-image {
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
}



.content {
position: relative;
text-align: center;
color: #ffffff;
padding: 0rem 2rem;
max-width: 720px;
margin-bottom: 7rem;
}


.badge {
display: inline-block;
border-radius: 999px;
background: rgba(255, 255, 255, 0.15);
backdrop-filter: blur(6px);
font-weight: 600;
letter-spacing: 0.5px;
}


.title {
min-width: 100%;
width: 100%;
height: auto;

}


.description {
font-size: 1.2rem;
line-height: 1.6;
opacity: 0.95;
}


.footer {
position: absolute;
bottom: 1.2rem;
width: 100%;
text-align: center;
font-size: 0.85rem;
color: #eaeaea;
opacity: 0.8;
}


@media (max-width: 768px) {
.title {
font-size: 2.2rem;
}


.description {
font-size: 1rem;
}
}
